examples/example-flow1.json
[
    {
        "id": "7da36d25d832619e",
        "type": "inject",
        "z": "61b3b2b50abe2c5d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "8aa8da39274203af"
            ]
        ]
    },
    {
        "id": "1ed27416fdf65289",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Date 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "abf287d26d38c692",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Type 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "beab9eae83db9f1e",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Days 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "f02060b5f9b31977",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Date 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 760,
        "wires": []
    },
    {
        "id": "7712f374dbd741f7",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Type 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 800,
        "wires": []
    },
    {
        "id": "0b2a4fee274720b7",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Days 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 840,
        "wires": []
    },
    {
        "id": "8aa8da39274203af",
        "type": "TrashDate",
        "z": "61b3b2b50abe2c5d",
        "name": "",
        "filename": "/opt/iobroker/Kalender.csv",
        "heute": "",
        "morgen": "",
        "weitere": "Blende das Blöde Ding aus",
        "day0": "",
        "day1": "",
        "day2": "",
        "day3": "",
        "day4": "",
        "day5": "Bernd Versteht es nicht",
        "day6": "",
        "day7": "",
        "day8": "",
        "day9": "",
        "day10": "",
        "day11": "",
        "day12": "das Versteht Bernd nicht",
        "day13": "",
        "day14": "",
        "day15": "",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "1ed27416fdf65289"
            ],
            [
                "abf287d26d38c692"
            ],
            [
                "beab9eae83db9f1e"
            ],
            [
                "f02060b5f9b31977"
            ],
            [
                "7712f374dbd741f7"
            ],
            [
                "0b2a4fee274720b7"
            ],
            [
                "6a3a563662393349"
            ]
        ]
    },
    {
        "id": "6a3a563662393349",
        "type": "debug",
        "z": "61b3b2b50abe2c5d",
        "name": "Special",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 880,
        "wires": []
    }
]
